body {
    background-image: url(green.png);
    background-size: 17%;
    background-repeat: no-repeat;
    background-position: 3px 115px;
   
}

h2 {
    color: red;
    font-family: Fantasy;
}

.link {
    color: red;
}

.i1 {
    border-radius: 100% ;
    width: 100px;
}

.p1 {
    background-color:gray
}

.p2 {
    background-color: green;
}